html {
    scroll-behavior: smooth;
}

body{
    margin: 0;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    color: #EEEEEE;
    background-color: #222831;

}


/* class stuff ig*/

.sectionLine {
    width: 90%;
    height: 5px;

    border-radius: 10px;

    background-color: #00ADB5;

    margin: 3vw auto;

}




/* header stuff*/


header {
    background-color: #00ADB5;

    padding: 20px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 500px) {
    header {
        
        flex-direction: column;
        align-items: center;
        justify-content: center;
    

    }
}

.headerLinkList {
    display: flex;
    flex-flow: row wrap;
    gap: 2em;
}


/* home stuff*/


.home {


    display: flex;

    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    gap: 5vw;

    margin-top: 2em;

}



.homeSectionRight {
    width: 350px;

}

.homeSectionRightPar {
    font-size: 24px;
}

#homeTitle {
    text-align: center;
    font-size: 42px;
}


.homeImage {

    width: min(max(20vw, 300px), 600px);
    height: auto;

    border-radius: 10px;
}


/* aboutUs stuff */


.aboutUs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#aboutUsTitle {
    text-align: center;
    font-size: 42px;
}

.aboutUsBottom {
    display: flex;
    gap: 5vw;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.aboutUsBottomPar {
    width: 300px;
    font-size: 24px;
}

.aboutUsImage {
    width: min(max(40vw, 300px), 500px);
    height: auto;

    border-radius: 10px;

}

/* Contact us stuff*/

.contactUs {
    padding: 20px;

    margin-top: 2em;

    gap: 5vw;

    display: flex;
    justify-content: center;
    align-items: center;

}

#contactUsTitle {
    font-size: 42px;
}


.contactUsLinkList {
    list-style-type: none;

    margin-top: -10px;

    display: flex;
    align-items: center;
    gap: 1em;

    
}

.smIcon {
    width: 75px;
}

.smIconBalance {
    width: 100px;
}

.contactUsRightImg {
    width: min(max(20vw, 300px), 600px);
    height: auto;

    border-radius: 10px;
}

.contactUsLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* footer stuff */


footer {
    background-color: #00ADB5;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.footerTop {
    display: flex;
    align-items: center;
}

.footerBottom {
    background-color:#222831;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    padding: 10px;
    border-radius: 10px;
}

.footerBottom p a {
    
    color: white;
}

.githubIcon {
    height: 50px;
}